@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 63;
    box-sizing: border-box;
}

body {
    font-family: 'Press Start 2P', cursive;
    color: rgb(0, 255, 68);
    background-color: rgba(6, 3, 3, 0.887);
}

header {
    position: relative;
    height: 35vh;
    border-bottom: 7px solid #eee;
}

main {
    height: 65vh;
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.left {
    width: 52rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right {
    width: 52rem;
    font-size: 2rem;
}


h1 {
    font-size: 4rem;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.number {
    background: #eee;
    color: rgb(0, 255, 68);
    font-size: 5rem;
    width: 13rem;
    padding: 3rem 0rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}

.between {
    font-size: 1.4rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.tryagain {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.guess {
    background: none;
    border: 4px solid #eee;
    font-family: inherit;
    color: inherit;
    font-size: 5rem;
    padding: 2.5rem;
    width: 25rem;
    text-align: center;
    display: block;
    margin-bottom: 3rem;
}

.button {
    border: rgb(2, 2, 2);
    background-color: rgb(0, 255, 68);
    color: rgb(2, 2, 2);
    font-size: 1.5rem;
    font-family: inherit;
    padding: 1rem 2rem;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(255, 255, 255);
}

.message {
    margin-bottom: 8rem;
    height: 3rem;
}

.label-score {
    margin-bottom: 2rem;
}

.made-by {
    text-align: right;
    position: relative;
    color: rgb(0, 255, 68);
    padding: inherit;
    font-size: x-small;
    top: 5rem;
    right: 1rem;
}